@page "/edit/{CategoryName}"
@inject NavigationManager NavigationManager
@using System.Net.Http.Json
@rendermode InteractiveServer
@inject HttpClient httpClient
@using MudBlazor

<h3>Kategorie bearbeiten: @Category?.Name</h3>

<MudDialogProvider />

@if (DeleteCardPopUp)
{
    <div class="overlay" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); z-index: 999;"></div>
    <div class="popup-content" id="popup" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 300px; padding: 20px; background-color: #fff; border-radius: 8px; border: 1px solid #ccc; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); text-align: center; z-index: 1000;">
        <p>Bist du sicher, dass du diese Karte löschen möchtest?</p>
        <MudButton Variant="Variant.Outlined" Color="Color.Error" OnClick="CompleteDelete">Löschen</MudButton>
        <MudButton Variant="Variant.Outlined" Color="Color.Warning" OnClick="ClosePopUp">Abbrechen</MudButton>
    </div>
}

@if (CardsError)
{
    <div class="overlay" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); z-index: 999;"></div>
    <div class="popup-content" id="popup" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 300px; padding: 20px; background-color: #fff; border-radius: 8px; border: 1px solid #ccc; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); text-align: center; z-index: 1000;">
        <p>Es gibt ungespeicherte Änderungen. Möchten Sie die Änderungen speichern oder verwerfen?</p>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ConfirmSave">Speichern</MudButton>
        <MudButton Variant="Variant.Outlined" Color="Color.Secondary" OnClick="DiscardChanges">Verwerfen</MudButton>
    </div>
}

@if (busyPopup)
{
    <div class="overlay" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); z-index: 999;"></div>
    <div class="popup-content" id="popup" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 300px; padding: 20px; background-color: #fff; border-radius: 8px; border: 1px solid #ccc; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); text-align: center; z-index: 1000;">
        <p>Du kannst maximal eine Änderung gleichzeitig öffnen</p>
        <MudButton Variant="Variant.Outlined" Color="Color.Secondary" OnClick="ClosePopUp">Okay</MudButton>
    </div>
}

@if (TimeError)
{
    <div class="overlay" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); z-index: 999;"></div>
    <div class="popup-content" id="popup" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 300px; padding: 20px; background-color: #fff; border-radius: 8px; border: 1px solid #ccc; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); text-align: center; z-index: 1000;">
        <p>Du musst mindestens @DeleteTimer Sekunden warten, bevor du erneut eine Kategorie löschen kannst!</p>
        <MudButton Variant="Variant.Outlined" Color="Color.Success" OnClick="ClosePopUp">Verstanden</MudButton>
    </div>
}

@if (Category == null)
{
    <p>Lade Daten...</p>
}
else
{


    <MudTextField T="string" @bind-Value="Category.Name" Label="Name der Kategorie" Typo="Typo.h5" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Title" Required="true" RequiredError="Der Kategoriename darf nicht leer sein." OnBlur="CheckCategoryName" />
    @if (CategoryNameExists)
    {
        <MudText Typo="Typo.caption" Color="Color.Error">Dieser Kategoriename existiert bereits.</MudText>
    }
    <MudTextField T="string" @bind-Value="Category.Beschreibung" Label="Beschreibung der Kategorie" Typo="Typo.h5" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Description" />

    <MudButton Variant="Variant.Filled" OnClick="OpenDialog" Color="Color.Primary" Class="mb-2">
        <MudIcon Icon="@Icons.Material.Filled.Add" /> Erstellen einer Karteikarte
    </MudButton>

    <MudPaper Elevation="4" Class="mt-4 p-4">
        <MudSimpleTable Hover="true" Bordered="true" Style="overflow-x: auto;">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Inhalt</th>
                    <th>Aktion</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in indexCards)
                {
                    if (x.KategorieId == Category.KategorieId)
                    {
                        <tr>
                            @if (ShowEditPopUps.ContainsKey(x.Id) && ShowEditPopUps[x.Id])
                            {
                                <td><MudTextField T="string" @bind-Value="x.Name" Label="Kartentitel eingeben"></MudTextField></td>
                                <td><MudTextField T="string" @bind-Value="x.Description" Label="Kartenbeschreibung eingeben"></MudTextField></td>
                                if (busy)
                                {
                                    <td>
                                        <MudButton Variant="Variant.Filled" OnClick="@(() => SaveCard(x))" Color="Color.Warning">Speichern</MudButton>
                                        <MudButton Variant="Variant.Filled" OnClick="@(() => CancelEdit(x))" Color="Color.Error">Abbrechen</MudButton>
                                    </td>
                                }
                            }
                            else
                            {
                                <td>@x.Name</td>
                                <td>@x.Description</td>
                                <td>
                                    <MudButton Variant="Variant.Filled" OnClick="@(() => EditCard(x))" Color="Color.Tertiary">Edit</MudButton>
                                    <MudButton Variant="Variant.Filled" OnClick="@(() => DeleteCard(x))" Color="Color.Error">Delete</MudButton>
                                </td>
                            }
                        </tr>
                    }
                }
            </tbody>
        </MudSimpleTable>
    </MudPaper>

    <MudButton Variant="Variant.Filled" OnClick="SaveCategory" Color="Color.Primary" Class="mt-4" Disabled="@(string.IsNullOrEmpty(Category.Name) || CategoryNameExists)">
        <MudIcon Icon="@Icons.Material.Filled.Save" /> Speichern
    </MudButton>
    <MudButton Variant="Variant.Filled" OnClick="Cancel" Color="Color.Secondary" Class="mt-4">
        <MudIcon Icon="@Icons.Material.Filled.Cancel" /> Abbrechen
    </MudButton>
}

@code {
    private Dictionary<int, bool> ShowEditPopUps = new Dictionary<int, bool>();
    private IndexCard localCard = new IndexCard();
    private bool busy = false;
    private bool busyPopup = false;

    private IndexCard oldCard;
    private void EditCard(IndexCard card)
    {
        localCard = card;
        oldCard = new IndexCard
            {
                Id = card.Id,
                Name = card.Name,
                Description = card.Description,
                KategorieId = card.KategorieId
            };
        if (busy)
        {
            busyPopup = true;
            return;
        }
        busy = true;
        if (ShowEditPopUps.ContainsKey(card.Id))
        {
            ShowEditPopUps[card.Id] = !ShowEditPopUps[card.Id];  // Toggle edit pop-up status
        }
        else
        {
            ShowEditPopUps[card.Id] = true;
        }
    }

    private void CancelEdit(IndexCard card)
    {
        busy = false;
        busyPopup = false;
        if (ShowEditPopUps.ContainsKey(card.Id))
        {
            if (oldCard.Name != card.Name || oldCard.Description != card.Description)
            {
                card.Name = oldCard.Name;
                card.Description = oldCard.Description;
            }
            ShowEditPopUps[card.Id] = !ShowEditPopUps[card.Id];  // Toggle edit pop-up status
        }
        else
        {
            ShowEditPopUps[card.Id] = true;
        }
        StateHasChanged();
    }
        
    private async Task SaveCard(IndexCard card)
    {
        busy = false;
        // Toggle the pop-up status
        if (ShowEditPopUps.ContainsKey(card.Id))
        {
            if (oldCard != localCard)
            {
                oldCard = null;
            }
            ShowEditPopUps[card.Id] = !ShowEditPopUps[card.Id];
        }
        else
        {
            ShowEditPopUps[card.Id] = true;
        }

        // Aktualisiere das Element in der Liste, falls notwendig
        // Blazor erkennt Änderungen automatisch, wenn das Element als Bindung vorhanden ist

        // Sicherstellen, dass StateHasChanged nach der Aktualisierung aufgerufen wird
        StateHasChanged();  // Das UI wird neu gerendert, um Änderungen an der UI zu berücksichtigen
    }

    private void ClosePopUp()
    {
        CardsError = false;
        busyPopup = false;
        DeleteCardPopUp = false;
        TimeError = false;
        StateHasChanged();
    }
}
