@page "/new"
@using System.Net.Http.Json
@rendermode InteractiveServer
@inject HttpClient httpClient
@using MudBlazor
<h3>Neue Kategorie</h3>
 
<MudDialogProvider />

<MudTextField T="string" @bind-Value="@Title" Label="Titel der Kategorie eingeben" Typo="Typo.h5"></MudTextField>
<MudTextField T="string" @bind-Value="@Description" Label="Beschreibung der Kategorie eingeben" Typo="Typo.h5"></MudTextField>

<MudButton Variant="Variant.Filled" OnClick="OpenDialog" Color="Color.Tertiary">
    Erstellen
</MudButton>

<MudSimpleTable Hover="true" Bordered="true" Style="overflow-x: auto;">
    <thead>
        <tr>
             <th>Name</th>
             <th>Inhalt</th>
        </tr>
    </thead>
    <tbody>
           @foreach (var x in Cards)
           {
                if (x.KategorieId == KategorieID )
                {
                    <tr>
                        <td>@x.Name</td>
                        <td>@x.Description</td>
                    <!--   <td><MudButton Variant="Variant.Filled" OnClick="@(() => Edit(x))" Color="Color.Tertiary">Edit</MudButton></td> -->
                    </tr>
                }
           }
    </tbody>
</MudSimpleTable>

<MudButton Variant="Variant.Filled" Href="/" OnClick="@Save" Color="Color.Tertiary">Speichern</MudButton>

@code {
   
}
