@page "/new"
@using System.Net.Http.Json
@rendermode InteractiveServer
@inject HttpClient httpClient
@using MudBlazor

<h3>Erstelle eine neue Kategorie</h3>

<MudDialogProvider />

<MudTextField T="string" @bind-Value="@Title" Label="Titel der Kategorie eingeben" Typo="Typo.h5" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Title" Required="true" RequiredError="Der Titel darf nicht leer sein." OnBlur="CheckTitle" />
@if (TitleExists)
{
    <MudText Typo="Typo.caption" Color="Color.Error">Dieser Titel existiert bereits.</MudText>
}
<MudTextField T="string" @bind-Value="@Description" Label="Beschreibung der Kategorie eingeben" Typo="Typo.h5" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Description" />

<MudButton Variant="Variant.Filled" OnClick="OpenDialog" Color="Color.Primary" Class="mt-2">
    <MudIcon Icon="@Icons.Material.Filled.Add" /> Erstellen einer Karteikarte
</MudButton>

<MudPaper Elevation="4" Class="mt-4 p-4">
    <MudSimpleTable Hover="true" Bordered="true" Style="overflow-x: auto;">
        <thead>
            <tr>
                <th>Name</th>
                <th>Inhalt</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Cards)
            {
                if (x.KategorieId == KategorieID)
                {
                    <tr>
                        <td>@x.Name</td>
                        <td>@x.Description</td>
                        <!-- <td><MudButton Variant="Variant.Filled" OnClick="@(() => Edit(x))" Color="Color.Tertiary">Edit</MudButton></td> -->
                    </tr>
                }
            }
        </tbody>
    </MudSimpleTable>
</MudPaper>

<MudButton Variant="Variant.Filled" Href="/" OnClick="@Save" Color="Color.Primary" Class="mt-4" Disabled="@(string.IsNullOrEmpty(Title) || TitleExists)">
    <MudIcon Icon="@Icons.Material.Filled.Save" /> Speichern
</MudButton>

<MudButton Variant="Variant.Filled" Href="/" Color="Color.Secondary" Class="mt-4">
    <MudIcon Icon="@Icons.Material.Filled.Cancel" /> Abbrechen
</MudButton>
